
        * {
            margin: 0;
            padding: 0;
            text-align: center;
            text-underline: none;
        }

        .title {
            font-family: 'Mansalva';
            margin-top: 30px;
            color: orange;
        }
        .header p{
            color:white;
        }

        .header {
            font-family: 'Mansalva';
            background-image: url(../images/bg.jpg);
            padding-bottom: 30px;
            border: 1px solid #000000;
            text-align: center;
            background-size: 100%;
        }

            .header a {
                margin-left: 5%;
                font-size: 25px;
                color: white;
                padding-top: 20px;
                text-decoration: none;
            }

                .header a:hover {
                    color: #E2D7C3;
                }

        .footer {
            background-image: url(../images/bg.jpg);
            background-size: 100%;
            color: white;
            padding:30px auto;
        }

            .footer p {
                font-size: 18px;
                line-height: 30px;
            }

            .footer a {
                color: white;
            }

        .active {
            color: #E2D7C3 !important;
        }